{% extends "base.html" %}

{% block content %}

<form action = "/add_question" method="POST">
    <table>
        <tr>
            <td>
                <label for ="grade">Grade</label>
            </td>
            <td>
                <select name="grade">
                    {% for grade in ["K", "1st", "2nd", "3rd", "4th", "5th"] %}
                        <option value = {{grade}}>{{ grade }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for ="subject">Subject</label>
            </td>
            <td>
                <select name="subject">
                    {% for subject in ["Math", "English"] %}
                        <option value = {{subject}}>{{ subject }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="question">Question</label>
            </td>
            <td>
                <textarea name="question"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="detailed_answer">Detailed Answer</label>
            </td>
            <td>
                <textarea name="detailed_answer"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="choice_1">Choice 1</label>
            </td>
            <td>
                <input name="choice_1" type = "text" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="choice_2">Choice 2</label>
            </td>
            <td>
                <input name="choice_2" type = "text" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="choice_3">Choice 3</label>
            </td>
            <td>
                <input name="choice_3" type = "text" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="choice_4">Choice 4</label>
            </td>
            <td>
                <input name="choice_4" type = "text" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="correct_answer">Correct Answer</label>
            </td>
           <td>
                <input name="correct_answer" type = "text" />
            </td>
        </tr>
    </table>
    <input type = "submit" value = "ADD QUESTION" />
</form>
{% endblock %}
