 {% extends "base.html" %}

{% block content %}
<form action = "/result" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="question">Question:</label>
                    </td>
                    <td>
                        <strong>{{ question.question}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="choice" type = "radio" value ="{{question.choice_1}}" /> {{question.choice_1}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="choice" type = "radio" value = "{{question.choice_2}}" /> {{question.choice_2}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="choice" type = "radio" value = "{{question.choice_3}}" /> {{question.choice_3}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="choice" type = "radio" value = "{{question.choice_4}}" /> {{question.choice_4}}
                    </td>
                </tr>

            </table>
        
    
    <input type = "hidden" name = "total" value = "abcd" />
    <input type = "submit" value = "Submit" />
</form>
{% endblock %}
